@using Mailer.Web.Models.Alerts
@using Mailer.Web.Infrastructure.UI.Alerts
@using Mailer.Web.Components
@model AlertViewModel
@{
    var displayType = Model.DisplayType.ToAlertDisplayTypeClass();
}
<div include-if="@Model.Alerts.Any()" class="content-alerts">
    @foreach (var alert in Model.Alerts)
    {
        <div role="alert" class="alert alert-@alert.Type.ToAlertTypeClass() @displayType alert-dismissible">
            <button include-if="alert.IsDismissable" aria-label="Close" data-dismiss="alert" class="close" type="button">
                <span aria-hidden="true">×</span>
            </button>
            <h4 include-if="!string.IsNullOrEmpty(alert.Title)">@alert.Title</h4>
            <span>@alert.Text</span>
        </div>
    }
</div>
